<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= best_in_place_if (@post.user == current_user), @post, :title, :as => :input %>
</p>
<p>
 <div id="image" class="image">
  <%= image_tag @post.image %>
  <%= link_to "download", @post.image.url %>
  </div>
</p>

<div id="avatar_form">
<%= form_for(@post, html: { multipart: true, class: "dropzone"}) do |f|  %>
  <div class="fallback">
    <%= f.file_field :image %><br>
    <%= f.submit "Upload" %>
  </div>
<% end %>
</div>

<p>
  <small>Description:</small>
<%= best_in_place_if (@post.user == current_user), @post, :description, :as => :textarea %>
</p>

<p>
  <small>by:</small>
  <%= @post.user.email %>
</p>

<%= link_to 'Back', posts_path %>
